
 <!-- ======= Hero Sektion ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Nichlas Birkholm Hansen</h1>
      <p>Jeg er <span class="typed" data-typed-items="Udvikler, SEO Ekspert, Blokchain Fortaler, Datamatiker studerende"></span></p>
      <div class="social-links">
        <a href="https://twitter.com/nichlasbirkholm" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/nichlashansen" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.linkedin.com/in/nichlashansen/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Om mig Sektion ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Om Mig</h2>
          <p>Jeg bor i Odense og studerer datamatiker. Jeg elsker at nørde i kode og lærer nye emner. Jeg elsker at lære nye ting og eksperimentere med ting og sager. I fritiden kan jeg godt lide Crossfit og Crypto   </p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="Nichlas Birkholm smiler i sort skjorte">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>C# Udvikler</h3>
            <p class="fst-italic">
              Jeg udvikler primært c# men jeg elsker at lærer nye ting og er ikke bange for en udfordring
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Fødselsdag:</strong> <span>1 Jan 1993</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Hjemmeside:</strong> <span>www.nichlasbirkholm.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Tlf:</strong> <a href="phone:+4560136761"><span>+45 6013 6761</span></a></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>By:</strong> <span>Odense</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Alder:</strong> <span>@(DateTime.Now.Year-1993)</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Uddannelse:</strong> <span>Datamatiker Studerende</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <a href="mailto:nichlas@NichlasBirkholm.com"><span>nichlas(at)nichlasbirkholm.com</span></a></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Job:</strong> <span>Ledig</span></li>
                </ul>
              </div>
            </div>
            <p>
              Glad, smilende og social udvikler der elsker at nørde kode og fordybe sig i arbejdet men samtidig gerne deltager aktivt i team samarbejdet og gerne vil hjælpe hvor han kan. 
              Jeg ses ofte med en kop kaffe i hånden (gerne med lidt piskefløde i). Fokus på clean code og kode derudover at virke også er nemt at vedligeholde i fremtiden. Jeg bor i odense med min kæreste
              og vores hund og når jeg ikke sidder foran computeren kan jeg godt lide at træne crossfit eller generelt holde mig igang, se en god film eller spille lidt playstation.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Fullstack udvikler som elsker backend og kan lave frontend hvis det er nødvendigt</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">C# <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">System arkitektur<i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">WordPress/CMS <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>CV</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Resume</h3>
            <div class="resume-item pb-0">
              <h4>Nichlas Birkholm</h4>
              <p><em>Arbejdet med web og wordpress i 10år+, stort erfaring med SEO og generel webudvikling. Backend udvikler i C# og meget interresseret i blokchain og fremtiden i det.</em></p>
              <ul>
                <li>Odense, Danmark</li>
                <li>+45 6013 6761</li>
                <li>nichlas@nichlasbirkholm.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Uddannelse</h3>
            <div class="resume-item">
              <h4>Datamatiker Studerende</h4>
              <h5>2020 - 2023</h5>
              <p><em>University College Lillebælt, Odense C</em></p>
              <p>Praksis orienteret uddannelse med fokus på kode og systemudvikling fokuseret på projekter for lokale virksomheder</p>
            </div>
            <div class="resume-item">
              <h4>HHX - Innovationslinjen</h4>
              <h5>2011 - 2014</h5>
              <p><em>Learnmark Horsens</em></p>
              <p>Højere Handelseksamen med fokus på innovation og udvikling af innovative løsninger til at løse problemer. Samtidig Afsætning A, Virksomhedsøkonomi A og Spansk A</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Erfaring</h3>
            <div class="resume-item">
              <h4>Selvstændig SEO Freelancer</h4>
              <h5>2019 - 2020</h5>
              <p><em>Horsens, Danmark </em></p>
              <ul>
                <li>Ansvar for salg og markedsføring for at få nye kunder</li>
                <li>leder for ansatte og timelønnede </li>
                <li>Både onpage og offpage seo for at skabe målbare resultater</li>
                
              </ul>
            </div>
            <div class="resume-item">
              <h4>Butiks Bestyrer</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>Horsens, Danmark </em></p>
                            <ul>
                              <li>Opstart og daglig drift af butik i Horsens</li>
                              <li>Ansvar for indkøb, marketing og vagtplanlægning </li>
                              <li>Ansvar for social media, website og alt derimellem</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Folk siger</h2>
        </div>

        <div class="<!--testimonials-slider swiper-container--!>" data-aos="fade-up" data-aos-delay="1000">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpeg" class="testimonial-img" alt="">
                <h3>Kenneth Dahl</h3>
                <h4>Marketing Automation Strategist, No Zebra</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Nichlas helped us out with a lot of dead links and redirects to make sure all visitors got the best experience possible on the website. He also did outreach for us to get links from sites where our brand was mentioned. I highly recommend to use Nichlas for both on and off page SEO.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Kontakt Mig</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Odense, Danmark</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><a href="mailto:nichlas@NichlasBirkholm.com">nichlas@nichlasbirkholm.com</a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telefon:</h4>
                <p><a href="phone:+4560136761">+45 6013 6761</a></p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="#" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Dit Navn" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Din Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Emne" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Besked" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Indlæser...</div>
                <div class="error-message"></div>
                <div class="sent-message">Din Besked er sendt. Tak</div>
              </div>
              <div class="text-center"><button type="submit">Send Besked</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->